*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    background-color: black;
    color: blanchedalmond;
    width: 100%;
    
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 18px;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;

}
.colum2 h1{
    font-size: 22px;
}
.row{
   margin-top: 20px;
   display: flex;
} 
.row img{
    width: 36px;
    height: 36px;
    background-color: #ffffff;
}
.row label{
    margin-top: 10px;
    margin-left: 20px;

}

.colum3{
    max-width: 40px;
}

.colum3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 40px;
    height: 40px;
    background-color: white;

}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.copyright{
    color: #c7c7c7;
}

.copyright a{
     text-decoration: none;
     color: white;
     font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}


